h1 {
    text-align: center;
    background-color: antiquewhite;
    width: 340px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: 'Courier New';
}

.listed {
    background-color: bisque;
    width: 300px;
    height: 300px;
    padding-top: 30px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Courier New';
}
